.contact-form {
  background: #011C40;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
  width: 403px;
  height: 455px;
  padding: 50px;
  box-sizing: border-box;

  @media (max-width: $max-mobile) {
    width: 290px;
    min-height: 460px;
    padding: 30px;
  }
}

.contact-form__h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #F9FBFD;
  margin: 0;
  padding: 0;

  @media (max-width: $max-mobile) {
    text-align: center;
    line-height: 140%;
  }
}

.contact-form__fieldset {
  margin: 35px 0;
  border: none;
  padding: 0;
  display: grid;
  gap: 20px;
}

.contact-form__input {
  height: 43px;
  border: none;
  box-shadow: none;
  padding-left: 15px;

}

.contact-form__input:hover {
  @media (min-width: $min-desktop) {
    box-shadow: #094599 0 0 10px 5px;
    transition: 160ms;
  }
}

.contact-form__input:focus {
  outline: none;
}

.contact-form__personal-data {
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: #F9FBFD;

  @media (max-width: $max-mobile) {
    line-height: 120%;
  }
}

.contact-form__checkbox-wrapper {
  display: flex;
  gap: 5px;
}

.contact-form__button {
  width: 100%;
  height: 43px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #011C40;
}

.contact-form__button:hover {
  @media (min-width: $min-desktop) {
    transform: scale(1.03);
    transition: 160ms;
    cursor: pointer;
  }
}
