.features {
  width: 100%;

  @media (max-width: $max-mobile) {
    min-height: 997px;
    background: #D7E5F4 url("../../imgimg/template-images/mobile-features-background.jpg") no-repeat;
    background-size: 100%;
  }

  @media (min-width: $min-tablet) {
    min-height: 588px;
    background: #D7E5F4 url("../../imgimg/template-images/tab-features-background.jpg") no-repeat;
    background-size: 100%;
  }

  @media (min-width: $min-desktop) {
    width: $desktop-page-width;
    min-height: 562px;
    background: #D7E5F4 url("../../imgimg/template-images/desktop-features-background.jpg") no-repeat;
  }
}

.features__h2 {
  @media (max-width: $max-mobile) {
    padding: 65px 0 40px 0;
  }

  @media (min-width: $min-tablet) {
    padding: 100px 0 60px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 120px 0 60px 0;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $max-mobile) {
    gap: 30px;
  }

  @media (min-width: $min-tablet) {
    gap: 30px;
  }

  @media (min-width: $min-desktop) {
    gap: 40px;
  }
}

.features__item {
  background: #F9FBFD;
  box-sizing: border-box;
  display: grid;
  grid-auto-rows: 20px min-content;

  @media (max-width: $max-mobile) {
    width: 290px;
    min-height: 249px;
    padding: 25px 20px;
  }

  @media (min-width: $min-tablet) {
    width: 206px;
    min-height: 310px;
    padding: 25px 20px;
  }

  @media (min-width: $min-desktop) {
    width: 360px;
    min-height: 240px;
    padding: 30px;
  }
}

.features__h3 {
  margin: 25px 0 20px 0;
}

.features__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #011C40;
}
