$mobile-width:90.63%;
$tablet-width:88.3%;
$desktop-width:1160px;

$desktop-page-width:1366px;

$max-mobile: 767px;
$min-tablet: 768px;
$min-desktop: 1024px;

.features {
  width: 100%;

  @media (max-width: $max-mobile) {
    min-height: 997px;
    background: #D7E5F4 url("../../img/template-images/mobile-features-background.jpg") no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #D7E5F4 url("../../img/template-images/mobile-features-background@2x.jpg") no-repeat;
      background-size: 100%;
    }
    background-size: 100%;
  }

  @media (min-width: $min-tablet) {
    min-height: 588px;
    background: #D7E5F4 url("../../img/template-images/tab-features-background.jpg") no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #D7E5F4 url("../../img/template-images/tab-features-background@2x.jpg") no-repeat;
      background-size: 100%;
    }
    background-size: 100%;
  }

  @media (min-width: $min-desktop) {
    width: $desktop-page-width;
    min-height: 562px;
    background: #D7E5F4 url("../../img/template-images/desktop-features-background.jpg") no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #D7E5F4 url("../../img/template-images/desktop-features-background@2x.jpg") no-repeat;
    }
  }
}

.features__h2 {
  @media (max-width: $max-mobile) {
    padding: 60px 0 32px 0;
  }

  @media (min-width: $min-tablet) {
    padding: 91px 0 51px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 110px 0 51px 0;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $max-mobile) {
    gap: 30px;
  }

  @media (min-width: $min-tablet) {
    gap: 30px;
  }

  @media (min-width: $min-desktop) {
    gap: 40px;
  }
}

.features__item {
  background: #F9FBFD;
  box-sizing: border-box;
  display: grid;
  grid-auto-rows: 20px min-content;

  @media (max-width: $max-mobile) {
    width: 290px;
    min-height: 249px;
    padding: 25px 20px;
  }

  @media (min-width: $min-tablet) {
    width: 206px;
    min-height: 310px;
    padding: 25px 20px;
  }

  @media (min-width: $min-desktop) {
    width: 360px;
    min-height: 240px;
    padding: 30px;
  }
}

.features__h3 {
  @media (max-width: $max-mobile) {
    margin: 26px 0 20px 0;
  }

  @media (min-width: $min-tablet) {
    margin: 26px 0 20px 0;
  }

  @media (min-width: $min-desktop) {
    margin: 31px 0 20px 0;
    br {
      display: none;
    }
  }
}

.features__description {
  margin: -10px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #011C40;
}
