.intro__content {
  display: grid;
  grid-auto-rows: min-content 1fr;
  @media (max-width: $max-mobile) {
    background: #FFFFFF url("../../imgimg/template-images/mobile-intro-background.jpg") bottom no-repeat;
    padding-bottom: 186px;
    box-sizing: border-box;
  }

  @media (min-width: $min-tablet) {
    background: #FFFFFF url("../../imgimg/template-images/tab-intro-background.jpg") right  top no-repeat;
    min-height: 264px;
  }

  @media (min-width: $min-desktop) {
    background: #FFFFFF url("../../imgimg/template-images/desctop-intro-background.jpg") right top no-repeat;
    min-height: 301px;
  }
}

.intro__content {
  display: grid;

  @media (min-width: $min-tablet) {
    grid-auto-rows: min-content 1fr;
  }

  @media (min-width: $min-desktop) {
    grid-auto-rows: min-content 1fr;
  }
}

.intro__h2 {
  @media (max-width: $max-mobile) {
    width: 195px;
    text-align: left;
  }

  @media (min-width: $min-tablet) {
    width: 205px;
  }

  @media (min-width: $min-desktop) {
    width: 430px;
    margin-top: 66px;
  }
}


.intro__content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @media (min-width: $min-tablet) {
  width: 324px;
  }

  @media (min-width: $min-desktop) {
    width: 512px;
    justify-self: start;
    align-self: start;
  }
}
