$mobile-width:90.63%;
$tablet-width:88.3%;
$desktop-width:1160px;

$desktop-page-width:1366px;

$max-mobile: 767px;
$min-tablet: 768px;
$min-desktop: 1024px;

.map__wrapper {
  display:  grid;

  @media (max-width: $max-mobile) {
    gap: 40px;
  }

  @media (min-width: $min-tablet) {
    grid-template-areas: "map desc" "map address" "map tel";
    grid-auto-rows: 1fr min-content 1fr;
    column-gap: 30px;
  }

  @media (min-width: $min-desktop) {
    grid-auto-rows: 1fr min-content 1fr;
  }
}

.map__map-container {
  @media (max-width: $max-mobile) {
    width: 100%;
    height: 316px;
  }

  @media (min-width: $min-tablet) {
    grid-area: map;
    width: 324px;
    height: 335px;
  }

  @media (min-width: $min-desktop) {
    width: 560px;
    height: 306px;
  }
}

.map__h3 {
  br {
    display: none;
  }
  @media (max-width: $max-mobile) {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #011C40;
    margin: 35px 0 0 0;
  }

  @media (min-width: $min-tablet) {
    grid-area: desc;
    align-self: end;
    margin: 60px 0 0 0;
  }

  @media (min-width: $min-desktop) {
    align-self: center;
    padding-top: 74px;
    margin: 0;
    br {
      display: block;
    }
  }
}

.map__address {
  margin-left: 28px;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  color: #011C40;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 22px;
    background: url("../../img/template-images/map-point.svg") 50% 50% no-repeat;
    left: -28px;
    top: -5px;
  }

  @media (max-width: $max-mobile) {
    margin:16px 0 0px 28px;
    &::before {
      top: -3px;
    }
  }

  @media (min-width: $min-tablet) {
    grid-area: address;
    align-self: center;
    margin:30px 0 10px 28px;
  }

  @media (min-width: $min-desktop) {
    margin: 37px 0 10px 28px;
  }
}

.map__phone {
  margin-left: 28px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background: url("../../img/template-images/phone.svg") 50% 50% no-repeat;
    left: -28px;
    top: -5px;
  }

  @media (max-width: $max-mobile) {
    margin: -19px 0 0 28px;
  }

  @media (min-width: $min-tablet) {
    grid-area: tel;
    align-self: start;
    &::before {
      top: 10px;
      transform: translateY(-50%);
    }
    margin: 10px 0 0 28px;
  }

  @media (min-width: $min-desktop) {
    margin: 10px 0 0 28px;
  }
}

.map__phone-link {
  font-size: 16px;
  line-height: 150%;
  color: #011C40;
  text-decoration: none;
}
