$mobile-width:90.63%;
$tablet-width:88.3%;
$desktop-width:1160px;

$desktop-page-width:1366px;

$max-mobile: 767px;
$min-tablet: 768px;
$min-desktop: 1024px;

.page-content__intro {
  @media (max-width: $max-mobile) {
    padding: 37px 0 40px 0;
  }

  @media (min-width: $min-tablet) {
    padding: 100px 0 79px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 120px 0 97px 0;
  }
}

.page-content__tours {
  @media (max-width: $max-mobile) {
    padding: 39px 0 62px 0;
  }

  @media (min-width: $min-tablet) {
    padding: 71px 0 91px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 69px 0 74px 0;
  }
}

.page-content__map {
  @media (max-width: $max-mobile) {
    padding: 22px 0 59px 0;
  }

  @media (min-width: $min-tablet) {
    padding: 100px 0 66px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 74px 0 106px 0;
  }
}

.page-content__reservation {
  @media (max-width: $max-mobile) {
    margin: 4px 0;
  }

  @media (min-width: $min-tablet) {
    margin: 9px 0;
  }

  @media (min-width: $min-desktop) {
    margin: 46px 0;
  }
}
