$mobile-width:90.63%;
$tablet-width:88.3%;
$desktop-width:1160px;

$desktop-page-width:1366px;

$max-mobile: 767px;
$min-tablet: 768px;
$min-desktop: 1024px;

.page-content__intro {
  @media (max-width: $max-mobile) {
    padding: 58px 0;
  }

  @media (min-width: $min-tablet) {
    padding: 100px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 120px 0;
  }
}

.page-content__tours {
  @media (max-width: $max-mobile) {
    padding: 62px 0;
  }

  @media (min-width: $min-tablet) {
    padding: 93px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 90px 0;
  }
}

.page-content__map {
  @media (max-width: $max-mobile) {
    padding: 53px 0 59px 0;
  }

  @media (min-width: $min-tablet) {
    padding: 100px 0 66px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 120px 0 95px 0;
  }
}

.page-content__reservation {
  @media (max-width: $max-mobile) {
    margin: 4px 0;
  }

  @media (min-width: $min-tablet) {
    margin: 9px 0;
  }

  @media (min-width: $min-desktop) {
    margin: 30px 0;
  }
}
