$mobile-width:90.63%;
$tablet-width:88.3%;
$desktop-width:1160px;

$desktop-page-width:1366px;

$max-mobile: 767px;
$min-tablet: 768px;
$min-desktop: 1024px;

.reservation {
  width: 100%;

  @media (max-width: $max-mobile) {
    min-height: 760px;
    background: #D7E5F4 url("../img/template-images/reservation-background-mobile.jpg") no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #D7E5F4 url("../img/template-images/reservation-background-mobile@2x.jpg") no-repeat;
      background-size: 100%;
    }
    background-size: 100%;
  }

  @media (min-width: $min-tablet) {
    min-height: 805px;
    background: #D7E5F4 url("../img/template-images/reservation-background-tab.jpg") no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #D7E5F4 url("../img/template-images/reservation-background-tab@2x.jpg") no-repeat;
      background-size: 100%;
    }
    background-size: 100%;
  }

  @media (min-width: $min-desktop) {
    width: $desktop-page-width;
    min-height: 555px;
    background: #D7E5F4 url("../img/template-images/reservation-background-desktop.jpg") no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #D7E5F4 url("../img/template-images/reservation-background-desktop@2x.jpg") no-repeat;
      background-size: 100%;
    }
    background-size: 100%;
  }
}

.reservation__wrapper {
  display: grid;
  grid-auto-rows: 1fr;

  @media (max-width: $max-mobile) {
    padding: 65px 0;
    grid-auto-rows: min-content;
    justify-items: center;
  }

  @media (min-width: $min-tablet) {
    grid-auto-rows: min-content;
    padding-top: 100px;
    justify-items: center;
  }

  @media (min-width: $min-desktop) {
    grid-template-areas: "title form" "desc form";
    padding-top: 49px;
    justify-items: start;
  }
}

.reservation__h2 {
  color: #011C40;
  font-weight: 700;
  margin: -9px 0 0 0;
  padding: 0;

  @media (max-width: $max-mobile) {
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    width: 194px;
  }

  @media (min-width: $min-tablet) {
    line-height: 150%;
    font-size: 34px;
  }

  @media (min-width: $min-desktop) {
    grid-area: title;
    align-self: end;
    font-size: 40px;
    margin-left: 60px;
  }
}

.reservation__description {
  font-weight: 400;
  color: #011C40;
  padding: 0;
  margin:0;

  br {
    display: none;
  }

  @media (max-width: $max-mobile) {
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    margin:17px 0 0 0;
    width: 257px;
    br {
      display: block;
    }
  }

  @media (min-width: $min-tablet) {
    font-size: 18px;
    line-height: 150%;
    margin:0;
    width: 352px;
  }

  @media (min-width: $min-desktop) {
    grid-area: desc;
    margin: 0 0 0 60px;
  }
}

.reservation__contact-form {
  @media (max-width: $max-mobile) {
    margin-top: 31px;
  }

  @media (min-width: $min-tablet) {
    margin-top: 53px;
  }

  @media (min-width: $min-desktop) {
    margin: 0;
    grid-area: form;
    justify-self: center;
  }
}
