$mobile-width:90.63%;
$tablet-width:88.3%;
$desktop-width:1160px;

$desktop-page-width:1366px;

$max-mobile: 767px;
$min-tablet: 768px;
$min-desktop: 1024px;

.tours__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  @media (max-width: $max-mobile) {
    margin-top: 30px;
  }

  @media (min-width: $min-tablet) {
    margin-top: 48px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 49px;
  }
}

.tours__item {
  @media (max-width: $max-mobile) {
    width: 270px;
    height: 386px;
  }

  @media (min-width: $min-tablet) {
    width: 309px;
    height: 386px;
  }

  @media (min-width: $min-desktop) {
    width: 260px;
    height: 386px;
  }
}

.tours__h2 {
  @media (max-width: $max-mobile) {
    padding: 5px 0 0 0;
    text-align: center;
  }

  @media (min-width: $min-tablet) {
    text-align: center;
  }

  @media (min-width: $min-desktop) {
    padding-top: 18px;
  }
}
