@import "global";

@import "blocks/page";
@import "blocks/page-content";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/intro";
@import "blocks/features";
@import "blocks/tours";
@import "blocks/tour-card";
@import "blocks/reservation";
@import "blocks/contact-form";
@import "blocks/map";


$mobile-width:90.63%;
$tablet-width:88.3%;
$desktop-width:1160px;

$desktop-page-width:1366px;

$max-mobile: 767px;
$min-tablet: 768px;
$min-desktop: 1024px;
